.gradle/vcsWorkingDirs/gc.properties
.settings/org.eclipse.buildship.core.prefs
/bin/
/build/
/backend/build/
/frontend/build/
/dist/
/backend/dist/
/frontend/dist/
/.gradle/
/.project
/.idea/
/out/
/.settings/
/.classpath
/.sts4-cache/
/rest-requests/

gradle.properties
./gradle.properties
/backend/bin/
backend/.project
backend/.settings/org.eclipse.buildship.core.prefs
frontend/.project
frontend/.settings/org.eclipse.buildship.core.prefs
backend/.classpath
